/* paleta uno

 --bg-color: #03363d;
 --color-2: #174d4d;
 --color-3: #FFFFFF;
 --color-4: #f8f9f9;
 --primary-color: #f8f9f9;
*/

:root {
    --color-1: #03363d;
    --card-color: #174d4d;
    --text-color: #FFFFFF;
    --bg-color: #f8f9f9;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-color);
}

.quote {
    background-color: #FFFFFF;
    max-width: 50%;
    padding: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    max-height: 70%; /* Ajusta según tu diseño */
    overflow-y: auto;
    

  }

  

  .text-quote-box {
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  q {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    
   
  }

  .author-box {
    padding: 1.5rem;
    text-align: right;
    padding-right: 0px;
  }

  .author span {
    font-size: 1.4rem;
  }

 
   

/* buttons container */
  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid var(--card-color);
    border-radius: 5px;
    color: #FFFFFF;
    background-color: var(--card-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
  }

  .btn:hover {
    background-color: var(--color-1);
    color: #ffffff;
    border-color: #ffffff;
  }

  a {
    display: inline-block;
    padding: .6rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid var(--card-color);
    border-radius: 5px;
    color: #FFFFFF;
    background-color: var(--card-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
    
    
  }

  a:hover {
    background-color: var(--color-1);
    color: #ffffff;
    border-color: #ffffff;
  }

  a i {
    font-size: 2rem;
  }


  
  footer {
    background-color: aliceblue;
  }